.hourly-graphic {
  border-radius: 27.244px;
  background: rgba(196, 195, 193, 0.4);
  padding: 46px 19px 45px 12px;
  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 20px;
    }
  }
}
