@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  overflow-x: scroll;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 33px 32px 26px;
}

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1400px;
//   }
// }
